body {
	background-color: #efefef;
}
section > h2 {
	text-align: center;
}
h2 {
	margin: 4rem auto 1rem auto;
	font-size: 36px;
	color: #03899c;
	font-family: 'Slabo 27px', serif;
	font-weight: bold;
}
.container {
	width:25rem;
	height: 40rem;
	margin: 1rem auto;
	border-radius: 8px;
	background-color: #03899c;
}
#container {
	position: relative;
}
.items p{
	font-family: helvetica, sans-serif;
	font-size: 16px;
}
input {
	margin-top: 1rem;
	margin-left: 25%;
}
.active {
	vertical-align: middle;
	margin: 1rem 10%;
	padding: 10px;
	background-color: #efefef;
	border-radius: 10px;
}
.open {
	vertical-align: middle;
	background-image: url('../images/circle.png');
	float: left;
	margin-right: 10px;
	height: 22px;
	width: 22px;
}
.check {
	vertical-align: middle;
	background-image: url('../images/checkmark.png');
	float: left;
	margin-right: 10px;
	height: 22px;
	width: 22px;
}
.delete {
	vertical-align: middle;
	background-image: url('../images/x-delete.png');
	float: right;
	height: 22px;
	width: 22px;
}
.delete-2 {
	vertical-align: middle;
	background-image: url('../images/blue-delete.png');
	float: right;
	height: 22px;
	width: 22px;
}
.complete {
	color: #efefef;
	vertical-align: middle;
	margin: 1rem 10%;
	padding: 10px;
	background-color: #666666;
	border-radius: 10px;
	text-decoration: line-through;
}
#container .reset{
	position: absolute;
	bottom: 0;
	left: 30%;
}
.reset {
	margin: 1rem 10%;
	padding: 10px 20px;
	text-align: center;
	background-color: #efefef;
	border-radius: 10px;
	color: #03899c;
	font-weight: bold;
}

@media only screen and (max-width: 490px){
	.container {
		width: 90%;
		height: 35rem;
	}
	h2 {
		margin-top: 1rem;
	}
	input {
		margin-left: 15%;
	}

}

